.react-datepicker-popper {
  transform: translate3d(-0.3125rem, 2.5rem, 0px) !important;
}

.react-datepicker__time-container {
  width: 10.5rem !important;
}

.react-datepicker__header {
  background-color: #edf1f7 !important;
  border-bottom: none !important;
}

.react-datepicker__time-box {
  width: auto !important;
}
